<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <script src="script.js"></script>
</head>
<style>
* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
  align-items: center;
}
.content-table {
  border-collapse: collapse;
  margin: 0vh 0 0 30vh;
  font-size: 1.9em;
  min-width: 135vh;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
h1{
  background-color: whitesmoke;
  background-size: 1vh;
  color: #333;
  margin-bottom: 10vh;
  margin-top: 5vh;
  margin-left: 60vh;
  margin-right: 60vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  border-radius:90% 0% 90% 0% ;
  opacity: 65%;

}

html { 
  background: url(max_chess.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content-table thead tr {
  background-color: #333;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  opacity: 95%;
}

.content-table th {
  background-color: #333;
  color: whitesmoke;
  border-radius: 0.5%;
  opacity: 90%;
  font-size: 0.7em;
  }

.button {
margin-left: 170vh;
display: inline-block;
border: 1px solid #ccc;
padding: 5px 10px;
border-radius: 3px;
text-decoration: none;
}

.button:hover {
  text-decoration:none;
  background:#eee;
}

.content-table td {
  padding: 0.5px;
  background-color: whitesmoke;
  opacity: 80%;
  border-radius: 0.5%;
  font-size: 0.7em;
  }

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  opacity: 90%;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #333;
  opacity: 90%;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #333;
}

</style>
<body>
  <form class="button" action="players.html">
    <input type="submit" value="View Players" />
</form>
<h1>♞ First Round ♞</h1>

<table class="content-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>START TIME</th>
        <th>END TIME</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
       <td>#1</td>
       <td>Round1</td>
       <td>05/07/2021 11:45:07</td>
       <td>05/07/2021 11:50:07</td>
      </tr>
      <thead>
        <tr>
          <th style="background: white;"></th>
          <th style="background: white;"></th>
          <th style="color:#333; padding: 2vh; background-color: white;"> MATCHES (Round1) </th>
          <th style="background: white;"></th>
        </tr>
        <br> 
        <br> 
        <tr>
          <th>POSITION</th>
          <th>RANK</th>
          <th>SURNAME</th>
          <th>SCORE</th>
        </tr>
      </thead>
      <tr>
        <th style="background: white; padding: 0.05vh;"></th>
        <th style="background: white; padding: 0.05vh;"></th>
        <th style="background: white; padding: 0.05vh;"></th>
        <th style="background: white; padding: 0.05vh;"></th>
      </tr>
      <th style="background: white; padding: 1.5vh;"></th>
      <th style="background: white; padding: 1.5vh;"></th>
      <th style="background: white; padding: 1.5vh;"></th>
      <th style="background: white; padding: 1.5vh;"></th>
      </tr>
      <td> 1</td> 
      <td> 900</td>
      <td><b> Mrs/Mr.Daniels</b></td>
      <td></td>
      <tr>
        <th style="background: white;opacity: 50%;"></th>
        <th style="background: white;opacity: 50%;"></th>
        <th style="font-size: 0.45em; font-style: bold;color:darkred;  padding: 1vh; background: white; opacity: 80%;"> <b> <i>VS</i></b> <br></th>
        <th style="background: white;opacity: 50%;"></th>
      </tr>
      <td> 5</td>
      <td> 700</td>
      <td><b>  Mrs/Mr.Soy</b></td>
      <td></td>
      <tr>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
      </tr>
      <td> 2</td>
      <td> 800</td>
      <td><b>  Mrs/Mr.Steven</b></td>
      <td></td>
      <tr>
        <th style="background: white;opacity: 50%;"></th>
        <th style="background: white;opacity: 50%;"></th>
        <th style="font-size: 0.45em; font-style: bold;color:darkred;  padding: 1vh; background: white; opacity: 80%;"> <b> <i>VS</i></b><br></th>
        <th style="background: white;opacity: 50%;"></th>
      </tr>
      <td> 6</td>
      <td> 600</td>
      <td> <b> Mrs/Mr.Stevenson</b></td>
      <td></td>
      <tr>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
      </tr>
      <td> 3</td>
      <td> 800</td>
      <td> <b> Mrs/Mr.Perolto</b></td>
      <td></td>
      <tr>
        <th style="background: white;opacity: 50%;"></th>
        <th style="background: white;opacity: 50%;"></th>
        <th style="font-size: 0.45em; font-style: bold;color:darkred;  padding: 1vh; background: white; opacity: 80%;"><b>  <i>VS</i> </b><br></th>
        <th style="background: white;opacity: 50%;"></th>
      </tr>
      <td> 7</td>
      <td> 400</td>
      <td> <b> Mrs/Mr.Rick</b></td>
      <td></td>
      <tr>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
      </tr>
      <td> 4</td>
      <td> 700</td>
      <td><b> Mrs/Mr.Jacobs</b></td>
      <td></td>
      <tr>
        <th style="background: white;opacity: 50%;"></th>
        <th style="background: white;opacity: 50%;"></th>
        <th style="font-size: 0.45em; font-style: bold;color:darkred;  padding: 1vh; background: white; opacity: 80%;"><b>  <i>VS</i></b> <br></th>
        <th style="background: white;opacity: 50%;"></th>
      </tr>
      <td> 8</td>
      <td> 300</td>
      <td> <b> Mrs/Mr.Lawson</b></td>
      <td></td>
      <tr>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
      </tr>
      
      <tr>
       <td>#2</td>
       <td>Round2</td>
       <td>05/07/2021 12:03:21</td>
       <td>05/07/2021 12:08:21</td>
      </tr>
      <thead>
        <tr>
          <th style="background: white;"></th>
          <th style="background: white;"></th>
          <th style="color:#333; padding: 2vh; background-color: white;"> MATCHES (Round2) </th>
          <th style="background: white;"></th>
        </tr>
        <br> 
        <br> 
        <tr>
          <th>POSITION</th>
          <th>RANK</th>
          <th>SURNAME</th>
          <th>SCORE</th>
        </tr>
      </thead>
      <tr>
        <th style="background: white; padding: 0.05vh;"></th>
        <th style="background: white; padding: 0.05vh;"></th>
        <th style="background: white; padding: 0.05vh;"></th>
        <th style="background: white; padding: 0.05vh;"></th>
      </tr>
      <th style="background: white; padding: 1.5vh;"></th>
      <th style="background: white; padding: 1.5vh;"></th>
      <th style="background: white; padding: 1.5vh;"></th>
      <th style="background: white; padding: 1.5vh;"></th>
      </tr>
      <td> 1</td> 
      <td> 300</td>
      <td><b> Mrs/Mr.Lawson</b></td>
      <td></td>
      <tr>
        <th style="background: white;opacity: 50%;"></th>
        <th style="background: white;opacity: 50%;"></th>
        <th style="font-size: 0.45em; font-style: bold;color:darkred;  padding: 1vh; background: white; opacity: 80%;"> <b> <i>VS</i></b> <br></th>
        <th style="background: white;opacity: 50%;"></th>
      </tr>
      <td> 5</td>
      <td> 700</td>
      <td><b>  Mrs/Mr.Jacobs</b></td>
      <td></td>
      <tr>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
      </tr>
      <td> 2</td>
      <td> 400</td>
      <td><b>  Mrs/Mr.Rick</b></td>
      <td></td>
      <tr>
        <th style="background: white;opacity: 50%;"></th>
        <th style="background: white;opacity: 50%;"></th>
        <th style="font-size: 0.45em; font-style: bold;color:darkred;  padding: 1vh; background: white; opacity: 80%;"> <b> <i>VS</i></b><br></th>
        <th style="background: white;opacity: 50%;"></th>
      </tr>
      <td> 6</td>
      <td> 800</td>
      <td> <b> Mrs/Mr.Perolto</b></td>
      <td></td>
      <tr>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
      </tr>
      <td> 3</td>
      <td> 600</td>
      <td> <b> Mrs/Mr.Stevenson</b></td>
      <td></td>
      <tr>
        <th style="background: white;opacity: 50%;"></th>
        <th style="background: white;opacity: 50%;"></th>
        <th style="font-size: 0.45em; font-style: bold;color:darkred;  padding: 1vh; background: white; opacity: 80%;"><b>  <i>VS</i> </b><br></th>
        <th style="background: white;opacity: 50%;"></th>
      </tr>
      <td> 7</td>
      <td> 800</td>
      <td> <b> Mrs/Mr.Steven</b></td>
      <td></td>
      <tr>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
      </tr>
      <td> 4</td>
      <td> 700</td>
      <td><b> Mrs/Mr.Soy</b></td>
      <td></td>
      <tr>
        <th style="background: white;opacity: 50%;"></th>
        <th style="background: white;opacity: 50%;"></th>
        <th style="font-size: 0.45em; font-style: bold;color:darkred;  padding: 1vh; background: white; opacity: 80%;"><b>  <i>VS</i></b> <br></th>
        <th style="background: white;opacity: 50%;"></th>
      </tr>
      <td> 8</td>
      <td> 900</td>
      <td> <b> Mrs/Mr.Daniels</b></td>
      <td></td>
      <tr>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
      </tr>
      
      <tr>
       <td>#3</td>
       <td>Round3</td>
       <td>05/07/2021 12:05:37</td>
       <td>05/07/2021 12:10:37</td>
      </tr>
      <thead>
        <tr>
          <th style="background: white;"></th>
          <th style="background: white;"></th>
          <th style="color:#333; padding: 2vh; background-color: white;"> MATCHES (Round3) </th>
          <th style="background: white;"></th>
        </tr>
        <br> 
        <br> 
        <tr>
          <th>POSITION</th>
          <th>RANK</th>
          <th>SURNAME</th>
          <th>SCORE</th>
        </tr>
      </thead>
      <tr>
        <th style="background: white; padding: 0.05vh;"></th>
        <th style="background: white; padding: 0.05vh;"></th>
        <th style="background: white; padding: 0.05vh;"></th>
        <th style="background: white; padding: 0.05vh;"></th>
      </tr>
      <th style="background: white; padding: 1.5vh;"></th>
      <th style="background: white; padding: 1.5vh;"></th>
      <th style="background: white; padding: 1.5vh;"></th>
      <th style="background: white; padding: 1.5vh;"></th>
      </tr>
      <td> 1</td> 
      <td> 300</td>
      <td><b> Mrs/Mr.Lawson</b></td>
      <td></td>
      <tr>
        <th style="background: white;opacity: 50%;"></th>
        <th style="background: white;opacity: 50%;"></th>
        <th style="font-size: 0.45em; font-style: bold;color:darkred;  padding: 1vh; background: white; opacity: 80%;"> <b> <i>VS</i></b> <br></th>
        <th style="background: white;opacity: 50%;"></th>
      </tr>
      <td> 5</td>
      <td> 700</td>
      <td><b>  Mrs/Mr.Jacobs</b></td>
      <td></td>
      <tr>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
      </tr>
      <td> 2</td>
      <td> 400</td>
      <td><b>  Mrs/Mr.Stevenson</b></td>
      <td></td>
      <tr>
        <th style="background: white;opacity: 50%;"></th>
        <th style="background: white;opacity: 50%;"></th>
        <th style="font-size: 0.45em; font-style: bold;color:darkred;  padding: 1vh; background: white; opacity: 80%;"> <b> <i>VS</i></b><br></th>
        <th style="background: white;opacity: 50%;"></th>
      </tr>
      <td> 6</td>
      <td> 700</td>
      <td> <b> Mrs/Mr.Rick</b></td>
      <td></td>
      <tr>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
      </tr>
      <td> 3</td>
      <td> 700</td>
      <td> <b> Mrs/Mr.Perolto</b></td>
      <td></td>
      <tr>
        <th style="background: white;opacity: 50%;"></th>
        <th style="background: white;opacity: 50%;"></th>
        <th style="font-size: 0.45em; font-style: bold;color:darkred;  padding: 1vh; background: white; opacity: 80%;"><b>  <i>VS</i> </b><br></th>
        <th style="background: white;opacity: 50%;"></th>
      </tr>
      <td> 7</td>
      <td> 600</td>
      <td> <b> Mrs/Mr.Perolto</b></td>
      <td></td>
      <tr>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
      </tr>
      <td> 4</td>
      <td> 600</td>
      <td><b> Mrs/Mr.Rick</b></td>
      <td></td>
      <tr>
        <th style="background: white;opacity: 50%;"></th>
        <th style="background: white;opacity: 50%;"></th>
        <th style="font-size: 0.45em; font-style: bold;color:darkred;  padding: 1vh; background: white; opacity: 80%;"><b>  <i>VS</i></b> <br></th>
        <th style="background: white;opacity: 50%;"></th>
      </tr>
      <td> 8</td>
      <td> 800</td>
      <td> <b> Mrs/Mr.Steven</b></td>
      <td></td>
      <tr>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
        <th style="background: white; padding: 1.5vh;"></th>
      </tr>
      
    </tbody>
</table>
</body>
</html>